<div class="bgImg">
  <header>
    <div class="container">
      <div class="row text-center">
        <p class="logo "><span>P</span>ro-<span>C</span>ovid<span> S</span>afety<span> T</span>ips</p>
      </div>
    </div>
  </header>
  <div class="container sectionSetting">
    <div class="row min-vh-100 align-items-center text-center text-md-left ">
      <div class="col-md-6 pr-md-5">
        <img src="assets/img/covid.png" width="100%" alt="">
      </div>
      <div class="col-md-6 pl-md-5 content">
        <app-page-content [accordianTitle]="accordian.title" [accordianDescription]="accordian.desc"
          [accordianId]="accordian.id" *ngFor="let accordian of accordianDetails"></app-page-content>
      </div>
    </div>
    <div class="container btnSetting ">
      <div class="row mb-3">
        <app-back-to-home></app-back-to-home>
      </div>
    </div>
  </div>
</div>