<div class="bgImg">
  <app-header></app-header>
  <section class="home" id="home">
    <div class="container sectionSetting">
      <div class="row min-vh-100 align-items-center text-center text-md-left">
        <div class="col-md-6 pr-md-5">
          <img src="assets/img/homePage.png" width="100%" alt="">
        </div>
        <div class="col-md-6 pl-md-5 details">
          <h1><span>Stay</span> Safe,<span> Stay</span> Healthy</h1>
          <h4><span style="font-weight:bold;">Hello, Sunita Sharma !!!</span> We care for you </h4>
          <button class="btn btn-primary mt-3" routerLink="wellness">Visit Our Wellness Program</button>
        </div>
      </div>
    </div>
  </section>



  <!-- TimeLine Section -->



  <div class="timeline-container container mb-5">

    <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
        <h3 class="text-primary">Calculate BMI</h3>
        <p>Body mass index (BMI) is a value derived from the mass (weight) and height of a person. The BMI may be
          determined using a chart which displays using arrow for different BMI categories.</p>
        <button class="btn btn-primary" routerLink="bmi">Visit Here</button>
      </div>
    </div>

    <div class="timeline-block timeline-block-left">
      <div class="marker"></div>
      <div class="timeline-content">
        <h3 class="text-primary">Pro Diet Tips</h3>
        <p>These dieting tips can help you avoid diet pitfalls and achieve lasting weight-loss success.</p>
        <button class="btn btn-primary" routerLink="diet">Visit Here</button>
      </div>
    </div>

    <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
        <h3 class="text-primary">Pro Exercise Tips</h3>
        <p>We do not stop exercising because we grow old - we grow old because we stop exercising. It is exercise alone
          that supports the spirits, and keeps the mind in vigor.</p>
        <button class="btn btn-primary" routerLink="exercise">Visit Here</button>
      </div>
    </div>

    <div class="timeline-block timeline-block-left">
      <div class="marker"></div>
      <div class="timeline-content">
        <h3 class="text-primary">Pro Covid Safety Tips</h3>
        <p>Protect yourself and others around you by knowing the facts and taking appropriate precautions.</p>
        <button class="btn btn-primary" routerLink="covid">Visit Here</button>
      </div>
    </div>
  </div>
</div>